tests/unit/parts/
tests/unit/snap/
tests/unit/stage/
build
dist
*.egg-info
.eggs/
*.pyc
.coverage**
htmlcov
__pycache__
docs/**.html
Cargo.lock
target
*.swp
*.snap
*.tar.bz2
parts
stage
prime
.snapcraft
